{% extends "base.html" %}

{% block content %}
<h1>Event Details</h1>

<h2>{{ event_details.event_name }}</h2>

  <p><strong>Add list view of participating teams:</strong> <a href=""></a></p> <!-- participating teams list view link not yet defined -->
  <!-- <p><strong>Description:</strong> {{ event_details.description }}</p> -->
  <p><strong>Location:</strong> {{ event_details.location }}</p>
  <p><strong>Date:</strong> {{ event_details.date }}</p>

<form action="/Music" method="get" class="form">
    {% csrf_token %}

        <button type="submit" class="btn btn-info">Go..!</button>
  </form>

{% endblock %}
